<script type="text/javascript" src="/js/jquery.validate.js"></script>

		<div class="content_part_3 content_part_3_inner">
			<div class="box">
				<div class="box_inner">

					<div class="content_text content_text_inner">
						<div class="content_inner">
							<div class="title">
								<h2>Забравена парола</h2>
							</div>
							<div class="real_content long_input">
								<div>Посочете Email, с който сте регистрирани и ще получите нова парола.</div><br/>
								<form method="post" id="change_password" action="">
									<div class="form_row"><label class="label" for="email">Email</label><input type="text" class="input-text" name="email" id="email" /></div>
									<div class="form_row"><label class="label">&nbsp;</label><input type="submit" value="изпрати" name="change_pass" class="input-submit input-submit-long" /></div>
								</form>
							</div>
						</div>
					</div>

					{include file='layout/includes/right_inner.tpl'}
					<div class="clear box_border_down">&nbsp;</div>
				</div>
			</div>
		</div>