*{ margin: 0; padding: 0; }*
body {
	font-size: 16px;
	font-family: Lucida Grande,Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
	color: #2E6E9E;
	 padding: 5px;
}


h1 { font-size: 30px; font-weight: normal; float: left }
a { text-decoration: none }
.logout { font-size: 15px; color: #000; float: right; display: block; font-weight: bold; background-image: url(/i/admin/logout_icon.png); background-repeat: no-repeat; background-position: 2px 2px;   padding: 3px 0 0 30px; width: 48px; height: 26px; }
.logout:hover {   background-image: url(/i/admin/logout_icon_hover.png); color: #F61111; font-weight: bold }
.clear { clear: both } 
.floatLeft { float: left } 
.floatRight { float: right } 
.username { color: #fff; padding: 3px 2px 0 0; font-weight: bold } 
.height20 { height: 20px; line-height: 20px }
.height10 { height: 10px; line-height: 10px }
#body { padding: 0; padding: 5px 0px 0 0px; color: #000 !important; font-weight: normal !important; font-size: 15px; }
.button, .link  { padding: 0.4em 1em; text-decoration: none; -moz-border-radius: 5px 5px 5px 5px; background : url("/css/admin/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC; border: 1px solid #C5DBEC; color: #2E6E9E; font-weight: bold}
.button:hover, .link:hover { background:url("/css/admin/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x scroll 50% 50% #D0E5F5;border:1px solid #79B7E7;color:#1D5987; }
.small_height{
	line-height: 10px;
	height: 10px;
}


.link { padding: 3px 5px 2px 5px; }
.text_link { color: #666 }
.text_link:hover { color: #D89E00 }


.centered { width: 100% !important; text-align: center !important; } 
.input { border: 1px solid #666; }
.news th { text-align: left }
.big_input { width: 400px; }
.small_input { width: 50px; }
.select { width: 180px; }
.textarea { height: 200px; }
.annotation { height: 100px; } 

.pages {
 clear: both;
 margin-top: 5px;
}

.pages div {
    cursor: hand;
    clear: right;
	float: left;
	border: 1px solid #666666;
	padding: 7px 7px 7px 7px;
	margin: 2px;
	list-style: none;
	margin-bottom: 10px;
}

.pages a{
 color: #666666;
}
.pages div:hover {
	background-color: #cccccc;
}

.num {
float: left;
}

.num-selected{
 float: left;
}

.pages {
padding-top:15px;
padding-left:5px;
padding-bottom:10px;
margin: 1px;
}

.pages li {
 float: left;
 width: 10px;
 height: 15px;
 padding: 7px 2px 5px 7px;
 list-style: none;
 margin: 1px;
}

.pages a:hover {
 background-color: #1D2B5A;
 color: white;
}

.main_cat{
	background-color: gray;
}