{include file='users/admin/submenu.tpl'}
<form method="post" enctype="multipart/form-data">
<table cellpadding="4" cellspacing="4" border="0" class="news">
	{include file='users/admin/users_fields.tpl'}
	<tr><th></th><td><input type="submit" class="button" value="Редактирай" /></td></tr>
</table>
</form>