{include file='users/admin/submenu.tpl'}
<form method="post">
<table {if $users|@is_array && $users|@count GT 0}id="logtable"{/if} class="tablesorter"  > 
<thead> 
<tr> 
    <th><input type="checkbox"  safari=1 class="jquery-safari-checkbox" value="{$i.id}" onclick="checkUncheck('ids[]')" /></th> 
    <th>id</th>
    <th>снимка</th> 
    <th>потребителско име</th>
    <th>име</th> 
    <th>e-mail</th>
    <th>тип</th>
    <th>редакция</th> 
</tr> 
</thead> 
<tbody> 
{foreach from=$users item=i key=k}
	<tr>
	<td><input type="checkbox" name="ids[]" safari=1 class="jquery-safari-checkbox" value="{$i.id}"/></td>
	<td>{$i.id}</td>
	<td>{if $i.avatar NEQ ""}<a href="/users/profile/{$i.id}" target="_blank"><img src="{$USER_IMG_PATH}{$i.id/1000|int}/s_{$i.avatar}.jpg" alt="{$i.username}" /></a>{/if}</td>
	<td><a href="/users/profile/{$i.id}" target="_blank">{$i.username}</a></td>
	<td>{$i.name}</td>
	<td>{$i.email}</td>
	<td>{if $i.usertype EQ 1}нормален{elseif $i.usertype EQ 2}администратор{/if}</td>
	<td align="center">
		<a href="/admin/users/edit/{$i.id}" class="button">редактирай</a>
	</td>
	</tr>
{/foreach}
</tbody>
</table>
	
	<div class="floatRight">с избраните: <input type="submit" name="delete" value="Изтрий" class="button" onclick="return confirm('Сигурни ли сте?')" /></div>
</form>
<div class="pages">{$pages}</div>