<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
	<li class="{if $selected EQ 'index'}ui-tabs-selected ui-state-active{/if} ui-state-default ui-corner-top"><a class="" href="/admin/users/admin_users">Списък потребители</a></li>
	{if $selected EQ 'edit'}<li class="ui-tabs-selected ui-state-active ui-corner-top ui-state-default"><a href="#">Редакция</a></li>{/if}
</ul>