<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
{include file='static/admin/submenu.tpl'}
<form method="post" enctype="multipart/form-data">
<table cellpadding="4" cellspacing="4" border="0" class="news">
	{if $i.id NEQ ''}<tr><th>ID</th><td>{$i.id}</td></tr>{/if}
	<tr><th>Заглавие*:</th><td><input type="text" class="input big_input" name="title" value="{$i.title|escape|default:$smarty.post.title}" /></td></tr>
	<tr><th>Съдържание*:</th><td><textarea class="ckeditor input big_input" name="content">{$i.content|escape|default:$smarty.post.content}</textarea></td></tr>
	<tr><th></th><td><input type="submit" class="button" value="{if $selected EQ 'add'}Добави{else}Редактирай{/if}" /></td></tr>
</table>
</form>