		<div class="content_part_3 content_part_3_inner">
			<div class="box">
				<div class="box_inner">
					
					<div class="content_text content_text_inner">
						<div class="content_inner">
							<div class="title">
								<h2>Вход</h2>
							</div>
							<div class="real_content long_input">
								<form method="post" action="">
								     <div class="form_row"><label class="label" for="email">Имейл: <span>*</span></label> <input class="input-text" name="email" value="" type="text" /></div>
								     <div class="form_row"><label class="label" for="password">Парола: <span>*</span></label> <input class="input-text" id="password" name="password" value="" type="password" /></div>
								     <div class="form_row"><label class="label">&nbsp;</label><input class="input-submit input-submit-long" type="submit" name="enter" value="Влез" /></div>
								</form>
							</div>
						</div>
					</div>
					
					{include file='layout/includes/right_inner.tpl'}
					<div class="clear box_border_down">&nbsp;</div>
				</div>
			</div>
		</div>