		<div class="content_part_3 content_part_3_inner">
			<div class="box">
				<div class="box_inner">
					
					<div class="content_text content_text_inner">
						<div class="content_inner">
							<div class="title">
								<h2>Забравена парола</h2>
							</div>
							<div class="real_content long_input">
								<p>
									<b>Линк за получаване на нова парола бе изпратен на посочения от вас е-майл! Посетете го и последвайте линка, съдържащ се в писмото изпратено от нашия сайт!</b>
								</p>
							</div>
						</div>
					</div>
					
					{include file='layout/includes/right_inner.tpl'}
					<div class="clear box_border_down">&nbsp;</div>
				</div>
			</div>
		</div>