/*COMMON SETTINGS*/
*{
	font-family: Tahoma, Arial, Verdana;
	font-weight: normal;
   	font-size: 13px;
   	color: #1d1d1d;
}
html {
   margin:0;
   padding:0;
}

body{
   width: 100%;
   min-height: 570px;
   height:100%;
   margin: 0px;
   padding: 0px;
}


img{
	border: none;
	margin: 0;
	padding: 0;
}

a{
	color: #ffffff;
	margin:0;
	padding:0;
	text-decoration: none;
}

a:hover{
	color: #ffff33;
}

.clear{
	clear: both;
	height:0px;
	font-size:0;
	line-height:0;
	overflow:hidden;
}

.left { float: left;}
.right { float: right;}
.pointer {
	cursor: hand;
	cursor: pointer;
}

.circle-loading {
	width: 32px;
	height: 32px;
	margin: 0px auto;
}

form{
	margin: 0;
	padding: 0;
}

ul{
	padding: 0;
	margin: 0;
}

.error{
	display: block;
	color: red;
	border: 1px solid red!important;
}
.errormsg{
	display: block;
	color: red;
}
.red{
	color: red;
}
.light_brown{
	color: #7f0c0f;
	font-size: 27px;
	font-family: Trebuchet MS;
}
.green{
	color: green;
}

.small_font{
	font-size: 10px!important;
}
h3{
	margin:0;
	padding:0;
	font-size: 27px;
	color: #333333;
}

h2{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #666666;
}

/*LAYOUT*/
.wrapper{
	text-align: left;
}
.header_wrapper{
	background: url(/i/design/bckg_part_1_2.png) repeat-x;
	height: 138px;
}
.content_wrapper{
	background: url(/i/design/bckg_part_2.png) repeat-x #e8e7ed;
}
.header_content{
	background: url(/i/design/blqsak.png) no-repeat;
	width: 960px;
	text-align: left;
	position: relative;
}
.header_content_bigger{
	width: 997px;
	position: relative;
}
.logo{
	width: 153px;
	float:left;
	height: 97px;
	margin: 0;
	padding: 0;
	line-height: 138px;
}
.login_users_online{
	float:right;
	text-align: left;
	padding-top: 10px;
}
/*LOGIN*/
.login_field{
	float: left;
	width: 158px;
	padding-right: 8px;
	line-height: 28px;
}
.login_submit{
	width: 28px;
	float: right;
}
.input-text{
	border: 1px solid #660000;
	width: 156px;
	height: 27px;
	background: url(/i/design/login-input.png);
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.login_wrapper{
	background: url(/i/design/bckg-login.png);
	height: 44px;
	line-height: 28px;
	font-size: 28px;
	width: 360px;
	padding: 10px;
	float: right;
}
.no_bckg{
	background: none;
}
.input-submit{
	border: 0px;
	background: url(/i/design/login-submit.png);
	width: 28px;
	height: 28px;
	
}
.users_wrapper{
	background: url(/i/design/bckg-login.png);
	height: 44px;
	width: 360px;
	padding: 10px;
	margin-top: 0px;
	float: left;
	margin-right: 10px;
}
.user_avatar{
	float: left;
	margin-right: 6px;
	text-align: center;
}
.user_avatar_last{
	margin: 0;
}
.user_label_wrapper{
	position: absolute;
	top: 28px;
	display: none;
	text-align: left;
}
.user_label_wrapper_1{
	right: 332px;
}
.user_label_wrapper_2{
	right: 280px;
}
.user_label_wrapper_3{
	right: 228px;
}
.user_label_wrapper_4{
	right: 176px;
}
.user_label_wrapper_5{
	right: 124px;
}
.user_label_wrapper_6{
	right: 72px;
}
.user_label_wrapper_7{
	right: 20px;
}
.s_align{
	border:1px solid #660000;
	height:44px;
	line-height:41px;
	text-align:center;
	width:44px;
}
.s_align img{
	vertical-align: middle;
}
.user_label{
	background: #e4e1db;
	padding: 10px 15px 10px 15px;
	height: 13px;
	overflow: hidden;
}
.user_label_arrow{
	background: url(/i/design/label-user-last.png) no-repeat;
	height: 8px;
	background-position: right top;
	text-align: right;
}

#register-link {
	margin-left: -165px;
	margin-right: 90px;
}
/*Navigation*/
.navigation_wrapper{
	clear: both;
	background: url(/i/design/bckg-nav.png) repeat-x;
	height: 44px;
	line-height: 44px;
	float:none;
	padding-left: 17px;
	padding-right: 17px;
}
.navigation{
	
}
.nav_btn{
	float: left;
	margin-right: 17px;
}
.nav_btn_last{
	margin: 0!important;
}
.spatia{
	float: left;
	background: url(/i/design/spatia.png) no-repeat;
	width: 22px;
	margin-right: 17px;
	background-position: 0 11px;
}
.nav_btn_active{
	float: left;
	height: 44px;
	margin-right: 25px;
}
.nav_btn_active a{
	color: #ffff33;
	font-weight: bold;
}
.nav_btn a{
	font-weight: bold;
}
.nav_btn_left{
	float:left;
	background: url(/i/design/nav-btn-left.png) no-repeat;
	width: 7px;
}
.nav_btn_top{
	float:left;
	background: url(/i/design/nav-btn-top.png) repeat-x;
	padding-left: 14px;
	padding-right: 14px;
}
.nav_btn_right{
	float:left;
	background: url(/i/design/nav-btn-right.png) no-repeat;
	width: 7px;
}
/*CONTENT*/
.content{
	width: 960px;
	text-align: left;
	clear: both;
}
.content_part_1{
	background: url(/i/design/index-bg.png) no-repeat;
	height: 375px;
}
.content_part_1 h3{
	font-weight: bold;
	width: 270px;
	font-family: Trebuchet MS;
	padding-top: 50px;
}
.text_part_1{
	width: 195px;
	color: #666666;
	font-size: 11px;
	line-height: 15px;
}
.register_btn{
	margin-top: 15px;
	width: 225px;
}
.register_btn input{
	border: 0px;
	background: url(/i/design/register-btn.png);
	width: 225px;
	height: 43px;
	cursor: pointer;
	cursor: hand;
	font-family: Trebuchet MS;
	font-weight: bold;
}
.content_part_2{
	margin-top: 1px;
}
.arrow_links{
	float: left;
	margin-right: 19px;
}
.arrow_links_last{
	float: right;
	margin: 0;
}
.content_part_3{
	clear:both;
	padding-top: 4px;
	background: url(/i/design/bckg_part_4.png) repeat-x bottom;
	
}
.content_text{
	float: left;
}
.title{
	background: url(/i/design/title-line.png) no-repeat;
	width: 492px;
	height: 49px;
}

.title h2{
	font-family: Trebuchet MS;
	font-weight: bold;
	padding-top: 15px;
	margin-left: 45px;
}
.content_left{
	font-size: 12px;
	color: #333333;
	padding: 20px 13px 36px 23px;
	width: 595px;
}
.box{
	background: url(/i/design/box.png) no-repeat #e4e4e2;
	padding: 1px 1px 0 1px;
	width: 960px;
	text-align: left;
}
.box_small{
	width: 958px;
}
.box_border_down{
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	width: 960px;
	background: url(/i/design/border-top.png) no-repeat;
	clear: both;
}
.box_inner{
	background: #ffffff;
}
.box_inner_static{
	height: 315px;
}
.content_right{
	padding-top: 30px;
	padding-bottom: 17px;
}
.svarka-2{
	margin-top: 13px;
}

/*FOOTER*/
.footer_wrapper{
	background: url(/i/design/bckg_part_3.png) repeat-x;
	height: 43px;
	clear: both;
}
.content_footer{
	width: 960px;
	text-align: left;
	padding: 17px 3px 0 3px;
}
.content_footer div{
	color: #ffffff;
	font-size: 12px;
	line-height: 15px;
}
.copyright{
	float: left;
}
.made_by{
	float: right;
}
.rss{
	vertical-align: middle;
}
/* TABLES LIST */
#games-list {
	height: 200px;
	width: 610px;
	border: 1px solid #DBDBDB;
}

#games-list a {
	color: #000000;
}

#enter-value {
	width: 30px;
	margin-right: 5px;
}

#games-list #game-list-table-div {
	background-color: #E8E8E8;
	width: 510px;
	height: 200px;
	overflow: auto;
}

#games-list #game-list-table {
	height: 191px;
	padding: 5px;
	overflow: auto;
	width: 510px;
	border: 0px;
	border-right: 1px solid #DBDBDB;
	border-spacing: 0px 0px;
}

.real_content .table-title .item {
	margin: 0px;
	text-align: center;
	width: 80px;
}

.real_content .table-title .game-id {
	width: 50px;
}

#games-list #game-list-table-div .item {
	margin: 0px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	border-bottom: 1px solid #C9C9C9;
	width: 80px;
}

#games-list #game-list-table-div .left-coll {
	border-right: 1px solid #C9C9C9;
}

#games-list #game-list-table-div .game-id {
	width: 50px;
}

/* PLAYERS CARDS */
.open-cards div {
	width: 45px;
	height: 67px;
	float: left;
}

.open-cards {
	display: none;
	overflow: visible;
	height: 67px;
	width: 200px;
	z-index: 9999;
}

.open-cards .c2, .c3 {
	margin: 0px 0px 0px -25px;
}

.open-cards#open-p1 {
	margin: -37px 0px 0px 55px;
}

.open-cards#open-p2 {
	margin: 15px 0px 0px 85px;
}

.open-cards#open-p3 {
	margin: -10px 0px 0px 50px;
}

.open-cards#open-p4 {
	margin: -10px 0px 0px 20px;
}

.open-cards#open-p5 {
	margin: 15px 0px 0px -15px;
}

.open-cards#open-p6 {
	margin: -37px 0px 0px 8px;
}

.open-cards#open-p7 {
	margin: -88px 0px 0px -25px;
}

.open-cards#open-p8 {
	margin: -60px 0px 0px 89px;
}

.open-cards#open-p9 {
	margin: -88px 0px 0px 80px;
}
/*SVARKA TABLE*/

#end-round-text span {
	font-weight: bold;
}

.content_chat_wrapper {
	float: left;
	width: 390px;
	background: url(/i/design/border.png) right no-repeat #e4e4e2;
	background-position: right bottom;
	padding-right: 1px;
}
.content_chat {
	background-color: transparent;
}
.chat_wrapper {
	background: url(/i/design/border.png) no-repeat #e4e4e2;
	background-position: right bottom;
	margin: 0px;
	padding: 0px;
	padding-right: 1px;
	width: 244px;
	float: left;
}

.chat{
	background: white;
}

.chat_users_list {
	height: 295px;
	overflow: auto;
	background: #f5f5f5;
	cursor: pointer;
	cursor: hand;
	float: left;
	width: 145px;
}

#chat-holder {
	margin-left: 50px;
	background-color: transparent;
}

.chat_content_right{
	height: 315px;
	background: #ffffff;
	float: left;
}
.chat_content_right img{
	margin-top: 20px;
}
.chat_username{
	padding: 16px 5px 16px 27px;
	color: #b62024;
	font-weight: bold;
	background: url(/i/design/list-pointer.png) no-repeat;
	background-position: 14px 21px;
	font-size: 11px;
}
.chat_username_border{
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	margin-left: 2px;
	margin-right: 2px;
	background: url(/i/design/dashed-border.png) repeat-x;
}
.chat_text{
	height: 204px;
	overflow: auto;
}
.chat_write_msg{
	padding: 5px;
	background: #cccccc;
	height: 32px;
}
.chat_writer{
	font-weight: bold;
	color: #b62024;
	font-size: 9px;
}
.chat_text_line{
	padding-left: 1px;
	line-height: 14px;
	font-size: 11px;
}
.bckg_gray{
	background: #cccccc;
}
.write_field{
	height: 30px;
	background: white;
	border: 1px solid #ababab;
	position: relative;
}
.chat-submit{
	top: 1px;
	right: 1px;
	position: absolute;
}
.chat_txt{
	height: 28px;
	border: 0;
	width: 202px;
	padding: 0px;
}

.chat .title {
	width: 240px;
}

.content_part_3_inner{
	padding-top: 20px;
}

#game-content {
	position: relative;
	padding: 75px 0px 0px 0px;
}

#game-table {
	width: 512px;
	height: 360px;
	background: url(/i/table/table-bg.jpg) no-repeat center;
	margin: 0px 0px 73px 0px;
	overflow: visible;
	position: relative;
}

#game-table div.left {
	border: 1px solid transparent;
	width: 120px;
	height: 120px;
	position: relative;
}

#game-table div.left .player-name .top, .bottom {
	width: 112px;
	height: 5px;
	background: url(/i/design/player-name-top.png) no-repeat;
}

#game-table div.left .player-name .bottom {
	background: url(/i/design/player-name-bottom.png) no-repeat;
}

#game-table div.left .player-name .cont {
	width: 112px;
	background: url(/i/design/player-name-cont.png) repeat-y;
	padding: 3px 5px;
}

.alpha07 {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}


#table-controls {
	height: 45px;
	border: 1px solid #b3b1b6;
	width: 389px;
	margin: 0px 0px 20px 0px;
	background: url(/i/table/game-control-bg.png) repeat-x;
	line-height: 45px;
}

#slider.bets {
	margin: 10px 0px 0px 10px;
	width: 120px;
	height: 20px;
}

#slider span {
	line-height: 15px;
	height: 15px;
	display: block;
}

#table-controls .bets[type='button'] {
	margin-top: 14px;
}

#btn_bet, #btn_answer, #btn_dark, #btn_open, #start-game {
	border: 1px solid #e7e7e7;
	background-color: #861517;
	color: #ffffff;
	line-height: 15px;
	height: 19px;
	font-family: Tahoma;
}

#start-game {
	margin: 13px 0px 0px 95px;
}

#btn_view, #btn_fold, #btn_enter {
	border: 1px solid #e7e7e7;
	background-color: #cccccc;
	color: #1d2328;
	line-height: 15px;
	height: 19px;
	font-family: Tahoma;
}

#slider-text {
	padding: 1px 5px 0px 5px;
	color: #ba181b;
	font-family: Tahoma;
	font-weight: bold;
	width: 30px;
}

#slider-box {
	border: 1px solid #1d2328;
	overflow: visible;
	position: relative;
	width: 112px;
	height: 15px;
	border: 1px solid #000000;
	background-color: #ffffff;
	margin: 5px 0px;
}

#slider-box #slider-item {
	border: 1px solid #1d2328;
	background-color: #ba181b;
	height: 23px;
	width: 9px;
	position: absolute;
	top: -5px;
	left: 0px;
}

#game-table .player-name {
	position: absolute;
}

#game-table .avatar-mask {
	width: 61px;
	height: 62px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#game-table .time-counter {
	position: absolute;
	width: 67px;
	height: 67px;
	top: 17px;
	left: 52px;
	overflow: visible;
	display: none;
}

.time-counter .cs {
	width: 67px;
	height: 67px;
	position: absolute;
	top: -5px;
	left: -5px;
}

.time-counter .ct1 { background: url(/i/table/counters/c1.png) no-repeat; }
.time-counter .ct2 { background: url(/i/table/counters/c2.png) no-repeat; }
.time-counter .ct3 { background: url(/i/table/counters/c3.png) no-repeat; }
.time-counter .ct4 { background: url(/i/table/counters/c4.png) no-repeat; }
.time-counter .ct5 { background: url(/i/table/counters/c5.png) no-repeat; }
.time-counter .ct6 { background: url(/i/table/counters/c6.png) no-repeat; }
.time-counter .ct7 { background: url(/i/table/counters/c7.png) no-repeat; }
.time-counter .ct8 { background: url(/i/table/counters/c8.png) no-repeat; }
.time-counter .ct9 { background: url(/i/table/counters/c9.png) no-repeat; }
.time-counter .ct10 { background: url(/i/table/counters/c10.png) no-repeat; }

#game-table .avatar {
	width: 61px;
	height: 62px;
	position: relative;
	overflow: hidden;
}

#game-table .player-cards {
/*	background: url(/i/design/cards-face-down-small.png) no-repeat; */
	width: 50px;
	height: 40px;
	position: absolute;
	color: #ffffff;
}

#table-lightbox {
	padding: 10px 3px;
	border: 3px solid #CCCCCC;
	width: 400px;
	height: 60px;
	background-color: #EDEDED;
	position: absolute;
	z-index: 1000;
	top: 370px;
	left: 34.5%;
	display: none;
}

#table-lightbox .loading {
	margin-top: 80px;
}

#end-round-lightbox {
	padding: 10px 3px;
	border: 3px solid #CCCCCC;
	width: 350px;
	height: 40px;
	background-color: #EDEDED;
	position: absolute;
	z-index: 1001;
	top: 400px;
	left: 37.0%;
	display: none;
}

#invite-player-cont {
	padding: 10px 3px;
	border: 3px solid #CCCCCC;
	width: 200px;
	background-color: #EDEDED;
	position: absolute;
	z-index: 1000;
	top: 250px;
	left: 43.5%;
	display: none;
}

#invite-player-cont p {
	margin: 0px;
}

#invite-player-cont #invite-search {
	width: 110px;
}

#invite-player-cont .cont {
	border-top: 2px solid #CCCCCC;
	height: auto;
	display: none;
	padding: 5px 0px 0px 0px;
	margin: 3px 0px 0px 0px;
	overflow: auto;
}

#invite-player-cont #close-invite {
	width: 16px;
	height: 16px;
	display: block;
	background: url('/i/design/close-icon.png') no-repeat center;
	float: right;
	margin: -13px -3px 0px 0px;
}

#invite-player-cont .main-cont {
	width: 200px;
}

#invite-player-cont .cont .pointer {
	text-align: left;
	font-weight: bold;
	padding: 2px 16px 2px 2px;
	background: url(/i/design/add-small.png) no-repeat center right;
	width: 135px;
}

#invite-player-cont .cont .hover {
	background-color: #D3E3D4;
}

#invite-player-cont .invite-section {
	text-align: left;
	width: 173px;
	border-top: 1px solid #CCCCCC;
	cursor: pointer;
	cursor: hand;
}

#invite-player-cont .hidden {
	display: none;
}

#player3 .time-counter {
	top: -14px; 
}

#player4 .time-counter {
	top: -14px;
	left: 37px;
}

#player5 .time-counter {
	top: 17px;
	left: 37px;
}

#player1 .time-counter {
	top: 32px;
	left: -14px;
}

#player6 .time-counter {
	top: 32px;
	left: 100px;
}

#player7 .time-counter {
	top: 43px;
	left: 36px;
}

#player8 .time-counter {
	top: 77px;
	left: 104px;
}

#player9 .time-counter {
	top: 43px;
	left: 52px;
}

#player2 .player-name {
	top: -20px;
	left: 0px;
}

#player2 .avatar-mask {
	background: url(/i/design/p1-bg.png) no-repeat;
}

#player2 .avatar {
	top: 15px;
	left: 50px;
}

#player2 .glow {
	top: 5px;
	left: 40px;
}

#player2 .player-cards {
	left: 140px;
	top: 80px;
}

#player3 .player-name {
	top: -65px;
	left: -2px;
}

#player3 .avatar{
	top: -16px;
	left: 50px;
}

#player3 .glow{
	top: -26px;
	left: 39px;
}

#player3 .avatar-mask {
	background: url(/i/design/p2-bg.png) no-repeat;
}

#player3 .player-cards {
	left: 110px;
	top: 50px;
}

#player4 .player-name {
	top: -65px;
	left: 37px;
}

#player4 .avatar{
	top: -16px;
	left: 35px;
}

#player4 .glow{
	top: -26px;
	left: 23px;
}

#player4 .avatar-mask {
	background: url(/i/design/p3-bg.png) no-repeat;
}

#player4 .player-cards {
	right: 110px;
	top: 50px;
}

#player5 .player-name {
	top: -20px;
	right: -58px;
}

#player5 .avatar{
	top: 14px;
	left: 35px;
}

#player5 .glow{
	top: 4px;
	left: 23px;
}

#player5 .avatar-mask {
	background: url(/i/design/p4-bg.png) no-repeat;	
}

#player5 .player-cards {
	right: 140px;
	top: 80px;
}

#player1 .player-name {
	top: -5px;
	left: -13px;
}

#player1 .avatar{
	top: 30px;
	left: -16px;
}

#player1 .glow{
	top: 20px;
	left: -27px;
}

#player1 .avatar-mask {
	background: url(/i/design/p5-bg.png) no-repeat;	
}

#player1 .player-cards {
	left: 100px;
	top: 42px;
}

#player6 .player-name {
	top: -5px;
	left: 70px;
}

#player6 .avatar {
	top: 30px;
	left: 98px;
}

#player6 .glow {
	top: 21px;
	left: 88px;
}

#player6 .avatar-mask {
	background: url(/i/design/p6-bg.png) no-repeat;	
}

#player6 .player-cards {
	right: 100px;
	top: 42px;
}

#player9 .player-name {
	bottom: -20px;
	left: -10px;
}

#player9 .avatar {
	top: 41px;
	left: 49px;
}

#player9 .glow {
	top: 32px;
	left: 40px;
}

#player9 .avatar-mask {
	background: url(/i/design/p7-bg.png) no-repeat;	
}

#player9 .player-cards {
	left: 140px;
	bottom: 80px;
}

#game-table div#player8 {
	width: 244px;
}

#game-table div#table-middle {
	width: 244px;
	position: relative;
}

#player8 .player-name {
	bottom: -55px;
	left: 80px;
}

#player8 .avatar {
	top: 76px;
	left: 102px;
}

#player8 .glow {
	top: 65px;
	left: 91px;
}

#player8 .avatar-mask {
	background: url(/i/design/p8-bg.png) no-repeat;
	width: 71px;
	height: 73px;
}

#player8 #current-player-cards {
	position: absolute;
	top: -50px;
	left: 0px;
}

#player8 #current-player-cards #sum {
	background-color: #CC8D8E;
	color: #000000;
	border: 1px solid #A62124;
	padding: 3px 0px;
	font-weight: bold;
	width: 20px;
	font-size: 12px;
	text-align: center;
	position: absolute;
	top: 101px;
	left: 52px;
}

#player8 #current-player-cards div {
	border: 0px;
}

#player7 .player-name {
	bottom: -18px;
	left: 60px;
}

#player7 .avatar {
	top: 41px;
	left: 33px;
}

#player7 .glow {
	top: 32px;
	left: 21px;
}

#player7 .avatar-mask {
	background: url(/i/design/p9-bg.png) no-repeat;
}

#player7 .player-cards {
	right: 140px;
	bottom: 80px;
}

#player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8 {
	overflow: visible; 
}

#game-table div.row1 {
	margin-top: -3px;
}

.bets {
	display: none;
}

#leave-game {
	width: 120px;
	height: 22px;
	line-height: 22px;
	padding: 0px 0px 0px 5px;
	border: 1px solid #7A7A7A;
	background: #cdcdcf url(/i/design/close-icon.png) 105px center no-repeat;
	position: absolute;
	top: 5px;
	right: 0px;
}

#timeout-counter {
	width: 120px;
	height: 22px;
	line-height: 22px;
	padding: 0px 0px 0px 5px;
	border: 1px solid #7A7A7A;
	background-color: #cdcdcf;
	position: absolute;
	top: 5px;
	left: 0px;
}

/*INNER PAGES*/
.content_text_inner{
	width: 637px;
	background: url(/i/design/border.png) right no-repeat #e4e4e2;
	padding-right: 1px;
	margin-right: 10px;
	float: left;
}
.content_inner{
	background: white;
	min-height: 270px;
}
.content_right_inner{
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}
.real_content{
	padding: 20px 0px 20px 10px;
}


/*Registration*/

.form_row{
	padding-bottom: 10px;
	margin-left: 10px
}
.label{
	float: left;
	display: block;
	padding-top: 3px;
	width: 140px;
}
.long_input .input-text{
	width: 200px;
}
.long_input .input-submit{
	width: 200px;
}
.input-submit-long{
	background: url(/i/design/login-submit.png) no-repeat right #7a0305;
	color: white;
	font-weight: bold;
	width: 120px;
}
.form_row span{
	color: red;
}

#crop-box {
	position: absolute;
	padding: 10px;
	border: 2px solid grey;
	background-color: white;
	margin: 0px auto;
	position: absolute;
	top: 500px;
	left: 200px;
	visibility: hidden;
	z-index: 1000;
}


/*SYSTEM MESSAGES*/

.msg_container{
	display:none;
}
.popup_container {
	display:none;
	position:relative;
	width:960px;
	z-index: 999;
}
.popup_wrapper_msg {
	display:block;
	left:300px;
	position:absolute;
	top:110px;
	width:360px;
	border: 1px solid #cccccc;
	background: #ffffff;
}
.overlay{
	background-image: url("../i/design/dim.png");
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	display: none;
	z-index:1;
}
.sys_msg{
	font-weight: bold;
	height: auto!important;
	min-height: 70px;
	height: 80px;
	margin-right: 20px;
}
.ok_button .input-button{
	margin-right: 10px;
	margin-bottom: 20px;
	float: right;
}
/*LOGOUT*/
.settings_wrapper{
	position: relative;
	float: right;
	width: 195px;
	display: none;
}
.settings{
	border: 1px solid #7f0c0f;
	position: absolute;
	background: white;
	width: 100%;
}
.close_menu{
	background: url("../i/design/close_menu.png");
	width: 13px;
	height: 14px;
	float: right;
	cursor: hand;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	left: 183px;
	top: 1px;
}
.settings_option{
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	background: url("../i/design/border-small.png") bottom center no-repeat;
}
.settings_option a{
	color: #7f0c0f;
}
.logout{
	float: right;
}
.logout input{
	width: 72px;
	padding: 0px;
	text-align: left;
	padding-bottom: 4px;
	padding-left: 5px;
	cursor: pointer;
	cursor: hand;
}
.user_welcome{
	float: left;
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding-right: 8px;
	text-align: left;
}
.user_welcome span{
	color: #ffffff;
}
/*ACCOUNT EDIT*/
.textarea{
	height: 50px;
	width: 200px;
}
.file{
	color: black;
}
/*STATIC*/
.real_content_static{
	padding-bottom: 20px;
	padding-right: 10px;
}

/*MESSAGES*/
#msg_list, .msg_text {
	width: 610px;
	margin: 10px 0px 0px 3px;
	border: 1px solid #E4E4E2;
	height: 120px;
	overflow: auto;
}

#msg_list {
	height: 200px;
}

#msg_list div.hover .left, #msg_list div.hover a {
	color: #F0EBEB;
}

#msg_holder { 
	width: 610px;
}

.msg_text {
	height: auto;
	padding: 5px;
	width: 600px;
	background-color: #f0f0f0;
}

.msg_text .img img {
	padding: 5px;
	background-color: #7c080b;
	margin: 5px;
}

.msg_text .data span {
	font-weight: bold;
}

.msg_text a, #msg_list a { 
	color: #7c080b;
	font-weight: bold;
}

.msg_text .text {
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #7c080b;
}

#msg_list div.row {
	border-bottom: 1px solid #E4E4E2;
	width: 100%;
}

#msg_list div.read {
	background-color: #FAFAFA;
	width: 100%;
}

#msg_list div.hover {
	background-color: #901d20;
	width: 100%;
}

#msg_list .row div.left {
	padding: 0px 3px 0px 3px;
	line-height: 22px;
}

#msg_list .col-checkbox {
	width: 20px;
	border-right: 1px solid #E4E4E2;
}

#msg_list .col-title {
	width: 321px;
	border-right: 1px solid #E4E4E2;
}

#msg_list .col-username {
	width: 100px;
	border-right: 1px solid #E4E4E2;
}

#msg_list .col-date {
	width: 125px;
}

#messages form .input-text {
	width: 400px;
}

#messages form .textarea {
	height: 100px;
}

#emoticons {
	width: 200px;
	margin: 10px 0px 20px 160px;
}

#emoticons img { margin: 1px 5px;}

/*USER PROFLE*/
.profile {
	margin: 5px 0px;
	background-color: #f0f0f0;
	padding: 5px;
	width: 605px;
	position: relative;
	border: 1px solid #DBDBDB;
	min-height: 100px;
}

.profile a {
	color: #7c080b;
	font-weight: bold;
}

.profile .data .link {
	position: absolute;
	bottom: 10px;
}

.profile p {
	padding: 0px 3px;
	margin: 0px 0px 0px 5px;
}

.profile .data span {
	font-weight: bold;
}

.profile .img img {
	padding: 5px;
	background-color: #7c080b;
	margin: 5px;
}

/* INSTANT MESSAGES */

#top-messages-cont {
	position: fixed;
	right: 7px;
	top: 5px;
	padding: 5px;
}

#top-messages-cont a {
	color: #861215;
	font-weight: bold;
}

#top-messages-cont div {
	width: 150px;
	padding: 5px 18px 5px 5px;
	margin: 0px 0px 3px 0px;
	background-color: #f0f0f0;
	border: 1px solid #BDBDBD;
	position: relative;
}

#top-messages-cont .close-msg {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 13px;
	padding: 0px;
	background: url(/i/design/close-icon.png) no-repeat;
	border: 0px;
}